*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html{
    background-color: #d1d0d0;
    font-family: "Bricolage Grotesque", sans-serif;
}
.side-bar{
    display: none;
    list-style: none;
    gap: 40px;
}
.side-bar li{
    display: block;
}
.side-bar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
    transition: all 0.3s ease;
}
.close-bar{
    margin-right: auto;
    padding: 20px;
    font-size: 25px;
    color: #bc59ea;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    width: 85%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #fff;
    box-shadow: 0 0 20px #646363;
    border-radius: 0 0 20px 20px;
}
.link-list{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-container a{
    text-decoration: none;
    color: #646363;
}
.brand-logo{
    font-weight: 900;
    font-size: 30px;
    font-family: "Bauhaus 93";
    background-image: -webkit-linear-gradient(0deg,#bc59ea,#ff6de7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease;
}
.link-list li a{
    font-weight: 700;
    font-size: 12px;
    transition: 0.3s ease;
}
.link-list li a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #bc59ea;
    margin-right: auto;
    transition: 0.4s;
} 
.link-list li a:hover::after{
    width: 100%;
} 
.link-list li a:hover{
    color: #bc59ea;
}
.link-list li a.active{
    color: #bc59ea;
    font-size: 13px;
    font-weight: 900;
}
.bar-icon{
    font-size: 30px;
    color: #bc59ea;
    transition: 0.4s ease;
}
.bar-icon:hover{
    transform: scale(1.1);
}
.bar-icon{
    display: none;
}
.home-container{
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.banner-container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
.banner-container .img-banner{
    width: 50%;
}
.banner-container .img-banner img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 20px #646363;
}
.banner-text{
    width: 50%;
}
.banner-text h1{
    font-size: 50px;
    font-family: "Bauhaus 93";
    background-image: -webkit-linear-gradient(0deg,#bc59ea,#ff6de7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease;
}
.banner-text .home-text{
    color: #292828;
    font-size: 13px;
    padding-block: 30px;
    transition: 0.4s ease;
}
.banner-text .btn{
    text-decoration: none;
    background: linear-gradient(90deg, #bc59ea,#ff6de7);
    padding: 12px 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    transition: 0.4s ease;
}
.banner-text .btn:hover{
    transform: scale(1.03);
}

/*  styling for about page  */

.main-container{
    padding: 20px 0;
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-container{
    width: 85%;
    padding: 20px 5%;
    background-color: #ffffffe2;
    box-shadow: inset 0 0 10px #646363;
    border-radius: 50px;
    flex-wrap: wrap;
}
.section-container p, h1, h2, h3{
    color: #4e4c4c;
}
.section-container .about-text{
    padding-block: 10px;
    font-size: 13px;
    font-weight: 600;
}
.page-name::after{
    content: "";
    display: block;
    width: 30%;
    height: 5px;
    background-color: #bc59ea;
    border-radius: 10px;
}

/*  styling for resumee page  */

.edu-icon{
    color: #bc59ea;
    font-size: 20px;
}
.bullet-icon{
    color: #bc59ea;
    font-size: 10px; 
}
.exp-icon{
    color: #bc59ea;
    font-size: 20px;
}
table{
    width: 100%;
    padding: 20px 0;
}
th{
    width: 7%;
}
td .resume-text{
    font-size: 13px;
    font-weight: 600;
}

/*  styling for project page  */

.project-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 30px;
}
.project-inner-container{
    width: 400px;
}
.project-inner-container p{
    font-size: 12px;
    font-weight: 600;
}
.project-frame{
    padding: 8px;
    background-color: #d1d0d0;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
}
.project-frame img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.5s;
}
.project-frame img:hover{
    transform: scale(1.07);
}
.project-title{
    padding-top: 10px;
}

/*  styling for contact page  */

.main-containerII{
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-containerII{
    width: 85%;
    padding: 20px 5%;
    background-color: #ffffffe2;
    box-shadow: inset 0 0 10px #646363;
    border-radius: 50px;
}
.contact-container{
    padding: 0 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-section{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.contact-profile{
    width: 30%;
    height: calc(100vh - 203px);
    padding: 20px 5%;
    background-color: #ffffffe2;
    box-shadow: inset 0 0 10px #646363;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3a3838;
    overflow: hidden;
}
.contact-details{
    width: 70%;
    height: calc(100vh - 204px);
    padding: 20px 5%;
    background-color: #ffffffe2;
    box-shadow: inset 0 0 10px #646363;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.contact-title{
    margin: 20px 0 0 0;
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    font-size: 13px;
    background-color: #bc59ea;
}
.profile-table{
    padding: 10px;
}
.profile-logo{
    color: #bc59ea;
    font-size: 20px;
}
.profile-table a{
    text-decoration: none;
    color: #4e4c4c;
}
.contact-form{
    margin-top: 30px;
    width: 100%;
}
.input-wrapper{
    width: 100%;
    display: flex;
    gap: 20px;
}
.form-input{
    width: 50%;
    padding: 15px;
    border: 2px solid #bc59ea;
    outline: none;
    border-radius: 10px;
}
textarea{
    margin: 30px 0;
    height: 150px;
    padding: 15px;
    width: 100%;
    outline: none;
    resize: none;
    border-radius: 10px;
    border: 2px solid #bc59ea;
}
.form-btn{
    border: none;
    background-color: #fff;
    color:#bc59ea;
    border: 2px solid #bc59ea;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.form-btn:hover{
    background-color: #bc59ea;
    color: #fff;
}



@media(max-width:1099px){
    .banner-container .img-banner img{
        width: 350px;
        height: 350px;
    }
    .home-container{
        height: auto;
        margin-top: 100px;
    }
    .banner-text h1{
        font-size: 40px;
    }
}
@media(max-width:1031px){
        .contact-section{
        width: 85%;
        flex-direction: column;
        justify-content: left;
        align-items: self-start;
        gap: 30px;
    }
    .contact-profile{
        width: 100%;
        height: auto;
        align-items: self-start;
    }
    .contact-details{
        width: 100%;
        height: auto;
        padding: 20px 5%;
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:979px){
    .banner-container .img-banner img{
        width: 300px;
        height: 300px;
    }
    .banner-text h1{
        font-size: 30px;
    }
}
@media(max-width:840px){
    .banner-container .img-banner img{
        width: 290px;
        height: 290px;
    }
    .banner-text h1{
        font-size: 25px;
    }
    .banner-text .btn{
        color: white;
        font-weight: 500;
        font-size: 15px;
    }
}
@media(max-width:790px){
    .home-container{
        height: auto;
        margin-top: 20px;

    }
    .banner-container{
        flex-direction: column;
        padding: 30px 0;
    }
    .banner-text{
        width: 100%;
    }
}
@media(max-width:700px){
    .input-wrapper{
        flex-direction: column;
    }
    .form-input{
        width: 100%;
    }
}

@media(max-width:570px){
    .side-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #ffffffd9;
        backdrop-filter: blur(5px);
        height: 100vh;
        width: 95%;
        z-index: 999;
        border-radius: 10px 0 0 10px;
        box-shadow: 5px 5px 20px #000000;
        transition: 0.8s ease-in-out;
    }
    .banner-container .img-banner{
        width: 100%;
    }
    .banner-container .img-banner img{
        width: 300px;
        height: 300px;
    }
    .nav-container{
        width: 95%;
    }
    .section-container{
        width: 90%;
    }
    .link-list{
        display: none;
    }
    .bar-icon{
        display: block;
    }
    .img-banner{
        display: flex;
        justify-content: center;
    }
    .banner-text h1{
        font-size: 30px;
        padding-top: 30px;
    }
    .form-btn{
    width: 100%;
}

    /*  styling for project page  */

    .project-frame{
        width: 100%;
        height: 250px;
    }

    /*  styling for contact page  */

    .contact-section{
        width: 90%;
    }
}


